body {
  font-family: "Georgia", "Times New Roman", serif;
  font-size:9pt;
  line-height:15pt;
  margin:0pt;
  padding:0pt;
  }

a {
  color:#000;
  text-decoration:none;
  }

div.comment-links,
div.node-links,
ul.links,
div.dsadmin,
div.page-links,
div.box,
div.picture,
form { display:none; }

ul.inline,
ul.inline li,
ul.inline li a {
  float:none;
  display:inline;
  }

div.limiter { max-width:50em; }

/*
 * FILTER TEXT =========================================================
 */

.prose a {
  font-style:italic;
  border-bottom:1pt solid #ccc;
  }

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose p,
.prose ul,
.prose ol,
.prose blockquote {
  margin: 0pt 0pt 15pt;
  }

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  border-bottom:1pt solid #ccc;
  padding-bottom:5pt;
  font-weight:normal;
  font-size:11pt;
  }

.prose h1 { font-size:15pt; }

.prose h2 { font-size:13pt; }

.prose ol li,
.description ol li {
  list-style:decimal;
  }

.prose img {
  page-break-inside:avoid;
  display:block;
  }

/**
 * PRINT PAGE HEADER ==================================================
 */
div.print-header {
  font-family: Arial, sans-serif;
  page-break-before:always;
  clear:both;
  border-bottom:1pt solid #ccc;
  padding: 0pt 0pt 10pt;
  margin: 0pt 0pt 10pt;
  line-height:20pt;
  }

  div.print-header div.count {
    padding:0em 1em 0em 0em;
    float:right;
    font-weight:bold;
    }

  div.print-header img.logo { display:block; height:20pt; }
  div.print-header-first { page-break-before:auto; }

/**
 * NODE ===============================================================
 */
h2.node-title {
  line-height:20pt;
  font-size:18pt;
  letter-spacing:-0.5pt;
  font-weight:normal;
  margin: 0pt 0pt 10pt;
  }

  h2.node-title a { text-decoration:none; }

div.node-submitted,
div.comment-submitted {
  margin:10pt 0pt;
  color:#666;
  font-family: Arial, sans-serif;
  font-size:7pt;
  }

div.node .footer {
  margin:10pt 0pt;
  font-size:6pt;
  }

div.comment {
  border-top:1pt solid #ccc;
  padding:10pt 0pt;
  }

h6.comments-title {
  padding:10pt 0pt;
  font-size:9pt;
  font-family: Arial, sans-serif;
  }

h2.comment-title {
  font-size:13pt;
  font-weight:normal;
  }

/*
 * CCK ================================================================
 */
.node .field-label { display:inline; }
.node .field { margin:10pt 0pt; }

/**
 * TABLES =============================================================
 */
table {
  border-collapse: collapse;
  width:100%;
  }

table th {
  font-family: Arial, Helvetica, sans-serif;
  }

table th,
table td {
  font-size:9pt;
  padding: 5pt 10pt;
  border:1pt solid #ccc;
  }

table.comparison tr,
table.comparison td,
table.comparison th {
  text-align:left;
  border-left: 0px;
  border-right: 0px;
  }

/**
 * Modifications for the screen to make the page a bit more reasonable
 * when previewing before print.
 */
@media screen {
  body { padding: .25in 1in; }

  div.print-header {
    border-top:1pt dashed #ccc;
    padding-top:.1in;
    }

  div.print-header-first {
    border-top:none;
    padding-top:0in;
    page-break-before:auto;
    }

  div.node { padding: 0in 0in .5in; }
}
